.projectSlide {
	height: 36vw;
	width: 64vw;

	margin: auto;
	object-fit: cover; /* image keeps its original aspect ratio and the image area is completely covered */
}

.featureSlide {
	height: 36vw;
	width: 64vw;

	margin: auto;
	object-fit: cover;
}

#projects {
	width: 65vw;
	margin: auto;
	margin-bottom: 3vh;
}

@media only screen and (max-width: 600px) {	
	.projectSlide {
		height: 45vw;
		width: 80vw;

		margin: auto;
		object-fit: cover; /* image keeps its original aspect ratio and the image area is completely covered */
	}

	.featureSlide {
		height: 45vw;
		width: 80vw;

		margin: auto;
		object-fit: cover;
	}

	#projects {
		width: 80vw;
		margin: auto;
	}
}

.CarouselCaption {
	color: gray;
	font-family: Montserrat;
}

#weatheryTitle {
	color: gray;
}



